<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.suancloud.dao.PermissionDao">
    <sql id="BASE_TABLE">permission</sql>
    <sql id="BASE_COLUMN">id,name,res_url</sql>

    <select id="loadUserPermission" resultType="cn.suancloud.model.Permission">
        SELECT res.* FROM user u
        LEFT JOIN user_role ur ON ur.user_id=u.id
        LEFT JOIN role r ON ur.role_id=r.id
        LEFT JOIN role_resources rr ON rr.role_id=r.id
        LEFT JOIN resources res ON res.id=rr.resources_id
    </select>

</mapper>